@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
  font-family: "Noto Sans", sans-serif;
  transition: all 0.3s ease;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 165, 0, 0.05),
    transparent 70%
  );
  z-index: -1;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-top: 30px;
  color: hsl(200, 60%, 99%);
  text-align: center;
  letter-spacing: 3px;
}

.container p {
  color: hsl(200, 60%, 99%);
}

.container p::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff8c00, transparent);
  margin: 20px auto 0;
  box-shadow: 0 0 15px #ff8c00;
}

.input-section {
  margin: 30px 30px 10px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  background-color: hsl(225, 23%, 24%);
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
  position: relative;
}

.input-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff8c00, transparent);
  filter: blur(1px);
}

.input-section input {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background-color: hsl(226, 11%, 37%);
  color: hsl(200, 60%, 99%);
  border: 2px solid #d1d5db;
  font-size: 1rem;
}

.input-section input::placeholder {
  color: hsl(200, 60%, 99%);
}

.input-section input:hover {
  border: 2px solid orange;
}

.input-section input:focus {
  border: none;
  outline: 2px solid orange;
  outline-offset: 2px;
}

.input-section button {
  border-radius: 8px;
  padding: 12px 20px;
  border: none;
  background-color: orange;
  color: hsl(200, 60%, 99%);
  cursor: pointer;
  transform: all 0.3s ease;
}

.input-section button:hover {
  background: #e67a00;
}

.input-section button:focus {
  outline: none;
  outline: 2px solid white;
  outline-offset: 2px;
}

.filter-section {
  margin: 30px 30px 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  background-color: hsl(225, 23%, 24%);
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
}

.filter-section button {
  padding: 15px 25px;
  background-color: transparent;
  color: hsl(200, 60%, 99%);
  border: 2px solid orange;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
}

.filter-section button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: orange;
  z-index: -1;
  transition: 0.5s;
}

.filter-section button:hover::before {
  width: 100%;
}

.filter-section button:focus {
  outline: none;
  outline: 2px solid white;
  outline-offset: 2px;
}

button.active {
  background-color: orange;
  box-shadow: 0 0 15px rgba(255, 140, 0, 0.6);
}

.books-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 30px 10px 30px;
}

.books-list li {
  list-style: none;
  background-color: hsl(226, 11%, 37%);
  padding: 20px;
  border-radius: 20px;
  color: hsl(200, 60%, 99%);
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

li.show {
  opacity: 1;
  transform: translateY(0);
}

.books-list li img {
  width: 90px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
}

.no-books {
  text-align: center;
  color: #999;
  font-style: italic;
  margin-top: 20px;
  display: none;
}

.sort-section select {
  background-color: hsl(226, 11%, 37%);
  color: hsl(200, 60%, 99%);
  border: 2px solid orange;
  border-radius: 25px;
  padding: 12px 20px;
  margin: 10px 0px 5px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

/* Hover and focus states */
.sort-section select:hover {
  border-color: #ff9d00;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.4);
}

.sort-section select:focus {
  border-color: #ffa500;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.6);
}

@media (max-width: 780px) {
  .filter-section button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.8rem;
  }
}

@media (max-width: 680px) {
  .filter-section button {
    flex-basis: calc(33.33%-10px);
  }
}

@media (max-width: 440px) {
  .container p {
    max-width: 300px;
    width: 100%;
    text-align: center;
  }
  .input-section {
    padding: 15px;
  }
  .input-section input {
    font-size: 0.9rem;
  }
}
